/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container {
  background-color: white;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

#logo {
  max-width: 300px;
}

.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: #243c4f;
    border-radius: 20px 0 0 20px;
}

.btn-theme {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767.98px) {
  .input-group {
    display: flex;
    flex-direction: column;
  }
  body > div > div.col-sm-12.my-5.text-center > div > div > input, #submit_btn {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
  }
  #submit_btn {
    margin-left: 0px;
  }
}
